@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* normalize */
body.ebody-root {
  margin: 0;
  background-color: #fff;
}
.ebody *,
.ebody-root * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.ebody *:before,
.ebody *:after,
.ebody-root *:before,
.ebody-root *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/
/* styles */
body.ebody-root,
.ebody {
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.ebody a {
  color: #428bca;
  text-decoration: none;
}
.ebody a:hover,
.ebody a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.ebody a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ebody h1,
.ebody h2,
.ebody h3,
.ebody h4,
.ebody h5,
.ebody h6,
.ebody .h1,
.ebody .h2,
.ebody .h3,
.ebody .h4,
.ebody .h5,
.ebody .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ebody h1,
.ebody .h1,
.ebody h2,
.ebody .h2,
.ebody h3,
.ebody .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.ebody h4,
.ebody .h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ebody h1,
.ebody .h1 {
  font-size: 36px;
}
.ebody h2,
.ebody .h2 {
  font-size: 30px;
}
.ebody h3,
.ebody .h3 {
    font-size: 24px;
}
.ebody h4,
.ebody .h4 {
  font-size: 18px;
}
.ebody .text-left {
  text-align: left;
}
.ebody .text-right {
  text-align: right;
}
.ebody .text-center {
  text-align: center;
}
.ebody .text-justify {
  text-align: justify;
}

/* layout */
.ebody-root.blue-bg {
    background-color: #BBE5F7;
}
.ebody-root.gray-bg {
    background-color: #F6F4F5;
}
.ebody .error-logo-wrapper {
    margin: 100px auto 40px;
    width: 290px;
}
.ebody .error-text-wrapper {
    margin: 0 auto;
    width: 650px;
}
.ebody .error-header {
    text-align: center;
}
.ebody .issueBlock {
    width: 500px;
    clear: both;
    border: 1px solid #333;
    margin: 12px auto;
    padding: 5px;
}
.ebody .issueBlock p {
    margin: 0;
    text-align: center;
}
.ebody .issueBlock p.issueNumber {
    font-size: 20px;
}
.ebody .error-row {
    margin-right: -10px;
    margin-left: -10px;
}
.ebody .error-col-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
}
.ebody .error-desc-block p {
    margin: 0;
}